{% extends "devices/base.html" %}
{% block content %}
    <h1 class="mb-3">Automations for {{ view.kwargs.username }}</h1>
    <p>Here are the automations for <b>{{ view.kwargs.username }}</b>. These have been determined based upon your energy and device usage patterns.</p>
    
    <article class="media content-section">
        <div class="accordion" id="Kshitij_bedroom">
            <div class="card">
                <div class="card-header" id="">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Automations for Kshitij bedroom
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#Kshitij_bedroom">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            {% for auto in autos %}
                                {% if auto.device.room.room_name == 'Kshitij bedroom' %}
                            <tr>
                                <td>{{ auto.device | upper}}</td>
                                <td>{% if auto.time == 'after_sunset'%}After sunset{% else %}After sunrise{% endif %}</td>
                                <td>{{ auto.activity }}</td>
                                <td>{% if auto.weather == 'cloudy'%}Cloudy{% else %}Not Cloudy{% endif %}</td>
                                
                                {% if auto.automation == 'On' %}
                                    <td><a href="" class="btn btn-danger btn-lg">On</a></td>
                                {% else %}
                                    <td><a href="" class="btn btn-success btn-lg">Off</a></td>
                                {% endif %}
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

        
    <article class="media content-section">
        <div class="accordion" id="Kshitij_bathroom">
            <div class="card">
                <div class="card-header" id="">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Automations for Kshitij bedroom
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Kshitij_bathroom">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            {% for auto in autos %}
                                {% if auto.device.room.room_name == 'Kshitij bathroom' %}
                            <tr>
                                <td>{{ auto.device | upper}}</td>
                                <td>{{ auto.time}}</td>
                                <td>{{ auto.activity }}</td>
                                <td>{{ auto.weather }}</td>
                                
                                {% if auto.automation == 'On' %}
                                    <td><a href="" class="btn btn-danger btn-lg">On</a></td>
                                {% else %}
                                    <td><a href="" class="btn btn-success btn-lg">Off</a></td>
                                {% endif %}
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="accordion" id="Jackie_woman_cave">
            <div class="card">
                <div class="card-header" id="">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Automations for Jackie woman-cave
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#Jackie_woman_cave">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            {% for auto in autos %}
                                {% if auto.device.room.room_name == 'Jackie woman-cave' %}
                            <tr>
                                <td>{{ auto.device | upper}}</td>
                                <td>{{ auto.time}}</td>
                                <td>{{ auto.activity }}</td>
                                <td>{{ auto.weather }}</td>
                                
                                {% if auto.automation == 'On' %}
                                    <td><a href="" class="btn btn-danger btn-lg">On</a></td>
                                {% else %}
                                    <td><a href="" class="btn btn-success btn-lg">Off</a></td>
                                {% endif %}
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="accordion" id="Jackie_Bathroom">
            <div class="card">
                <div class="card-header" id="">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Automations for Jackie Bathroom
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#Jackie_Bathroom">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            {% for auto in autos %}
                                {% if auto.device.room.room_name == 'Jackie Bathroom' %}
                            <tr>
                                <td>{{ auto.device | upper}}</td>
                                <td>{{ auto.time}}</td>
                                <td>{{ auto.activity }}</td>
                                <td>{{ auto.weather }}</td>
                                
                                {% if auto.automation == 'On' %}
                                    <td><a href="" class="btn btn-danger btn-lg">On</a></td>
                                {% else %}
                                    <td><a href="" class="btn btn-success btn-lg">Off</a></td>
                                {% endif %}
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="accordion" id="Common_Area">
            <div class="card">
                <div class="card-header" id="">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Automations for Common Area
                        </button>
                    </h2>
                </div>

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#Common_Area">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            {% for auto in autos %}
                                {% if auto.device.room.room_name == 'Common Area' %}
                            <tr>
                                <td>{{ auto.device | upper}}</td>
                                <td>{{ auto.time}}</td>
                                <td>{{ auto.activity }}</td>
                                <td>{{ auto.weather }}</td>
                                
                                {% if auto.automation == 'On' %}
                                    <td><a href="" class="btn btn-danger btn-lg">On</a></td>
                                {% else %}
                                    <td><a href="" class="btn btn-success btn-lg">Off</a></td>
                                {% endif %}
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="media content-section">
        <div class="accordion" id="Kitchen">
            <div class="card">
                <div class="card-header" id="">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSiz">
                            Automations for Kitchen
                        </button>
                    </h2>
                </div>

                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#Kitchen">
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            {% for auto in autos %}
                                {% if auto.device.room.room_name == 'Kitchen' %}
                            <tr>
                                <td>{{ auto.device | upper}}</td>
                                <td>{{ auto.time}}</td>
                                <td>{{ auto.activity }}</td>
                                <td>{{ auto.weather }}</td>
                                
                                {% if auto.automation == 'On' %}
                                    <td><a href="" class="btn btn-danger btn-lg">On</a></td>
                                {% else %}
                                    <td><a href="" class="btn btn-success btn-lg">Off</a></td>
                                {% endif %}
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}