{% extends "devices/base.html" %}
{% block content %}
    <h1 class="mb-3">Rooms by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for room in rooms %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ room.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-rooms' room.author.username %}">{{ room.author }}</a>
              {% comment %} <small class="text-muted">{{ room.date_added|date:"F d, Y" }}</small> {% endcomment %}
            </div>
            <h2><a class="article-title" href="{% url 'room-detail' room.id %}">{{ room.room_name }}</a></h2>
            
            <small class="text-muted">{{ room.room_type }}</small>
            {% load static %}
            {% if room.room_name == 'Kshitij bedroom' %}
              <img class="card-img" src="{% static 'savings_img/akshat_bedroom_savings.png'%}" alt="Card image cap" >
            {% elif room.room_name == 'Kshitij bathroom' %}
              <img class="card-img" src="{% static 'savings_img/akshat_bathroom_savings.png'%}" alt="Card image cap">
            {% elif room.room_name == 'Jackie woman-cave' %}
              <img class="card-img" src="{% static 'savings_img/Ark_bedroom_savings.png'%}" alt="Card image cap">
            {% elif room.room_name == 'Jackie Bathroom' %}
              <img class="card-img" src="{% static 'savings_img/ark_bedroom_savings.png'%}" alt="Card image cap">
            {% elif room.room_name == 'Kitchen' %}
              <img class="card-img" src="{% static 'savings_img/kitchen_savings.png'%}" alt="Card image cap">
            {% elif room.room_name == 'Common Area' %}
              <img class="card-img" src="{% static 'savings_img/living_room_savings.png'%}" alt="Card image cap">
            {% endif%}
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
